<header class="container flex items-center justify-between h-16 px-4 mx-auto rounded dark:bg-coolGray-900">
    <a rel="noopener noreferrer" href="" aria-label="Homepage">
        <img src="new\public\images\download-removebg-preview.png" alt="" class="object-cover h-24 w-23">
    </a>
    <div class="items-center hidden space-x-8 lg:flex">
        <div class="space-x-4 ">
            <a rel="noopener noreferrer" href="" class="hover:text-slate-400">Home</a>
            <a rel="noopener noreferrer" href="/jewellry" class="hover:text-slate-400">jewellry</a>
            <a rel="noopener noreferrer" href="/gemstones" class="hover:text-slate-400">gemstones</a>
            <a rel="noopener noreferrer" href="/orders" class="hover:text-slate-400">orders</a>
            <a rel="noopener noreferrer" href="/contact" class="hover:text-slate-400">contact</a>
        </div>

        <button class="px-4 py-2 rounded-md dark:bg-violet-400 dark:text-coolGray-900"><a href="/signuppage"></a>Sign up
            </a></button>

    </div>

</header>